{% extends "layouts/base.html" %}

{% block title %} My notes {% endblock %}

{% block meta %}
<meta name="description" content="150 words">
<meta name="author" content="Kudzai Tsapo">
<meta name="url" content="http://www.yourdomainname.com">
<meta name="copyright" content="knotes">
<meta name="robots" content="index,follow">
{% endblock %}

{% block subtitle %}
<div class="sub-title">
    <h1>Kudzi Notes</h1>
 <a href="{{ url_for('blog.contact_me')}}"><i class="icon-envelope"></i></a>
</div>

{% endblock %}

{% block content %}

{% for article in articles %}
<div class="col-md-12 content-page">
    <!-- Blog Post Start -->
    <div class="col-md-12 blog-post">
        <div class="post-title">
          <a href="{{ url_for('blog.read_article', slug=article.slug)}}"><h2>{{ article.title }}</h2></a>
        </div>  
        <div class="post-info">
            <span>{{ article.created_at.strftime('%B %d, %Y')}} </span>
        </div>
    </div>
    <!-- Blog Post End -->
</div>
{% else %}
<div class="col-md-12 content-page">
    <!-- Blog Post Start -->
    <div class="col-md-12 blog-post">
        <div class="post-info">
            <span>August 2020</span>
        </div>  
        <p>No articles have been added yet...</p>
    </div>
    <!-- Blog Post End -->
</div>
{% endfor %}

{% endblock %}